*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
    font-family:'Poppins',sans-serif;
}

#page2{
    overflow:hidden;
    display:flex;
    align-items:center;
}

#heading{
    font-size:40vw;
    white-space:nowrap;   /* keeps text in one line */
    transform: translateX(10vw);
}